/* 顶部导航--start */
.comm-head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 78px;
}

.head-normal {
    width: 100%;
    height: 78px;
    max-width: 1358px;
    min-width: 1230px;
    margin: 0 auto;
}

/* logo--part */

.comm-head .logo {
    float: left;
    width: 132px;
    height: 49px;
    margin-top: 10px;
}

/* 导航--part */

.head-nav {
    float: left;
    width: 55%;
    height: 78px;
    margin-left: 30px;
    padding-top: 16px;
}

.head-nav li {
    float: left;
    width: 20%;
    height: 78px;
    text-align: center;
}

.head-nav .head-nav-title {
    display: block;
    color: #fff;
    font-size: 18px;
}

.head-nav .head-nav-en {
    display: block;
    color: #aeaeae;
    font-size: 11px;
}

/* 详情下拉菜单part */

.detail {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 340px;
    padding-top: 78px;
    background: rgba(0, 0, 0, 0.3);
}

.detail-content {
    margin: 0 auto;
    max-width: 1358px;
    min-width: 1230px;
    padding-top: 10px;
}

.detail-content ul {
    float: left;
    margin-right: 80px;
}

.detail-content ul li {
    text-align: center;
    width: 120px;
    margin-bottom: 5px;
}

.detail-content ul li a {
    font-size: 14px;
    color: #fff;
}

.detail-content ul li a:hover {
    color: #fff3d0;
}

.detail-content ul li span {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    margin: -2px 2px 0 0;
    background: url(../images/sprites.png) no-repeat;
    background-position: -381px -65px;
}

.detail-content ul li i {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    margin: -2px 2px 0 0;
    background: url(../images/sprites.png) no-repeat;
    background-position: -347px -84px;
}

/* 玩家信息--part */

.userinform {
    float: right;
    width: 244px;
    height: 78px;
    position: relative;
}

.head-userinfo {
    float: left;
    width: 48px;
    height: 48px;
    position: relative;
    margin-top: 14px;
    line-height: 48px;
    text-align: center;
    font-size: 0;
}

.head-userinfo>img {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: auto;
    border-radius: 50%;
}

.head-userinfo>span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/sprites.png);
    background-position: -216px -117px;
    width: 48px;
    height: 48px;
}

.head-userinfo-brief {
    float: left;
    margin-left: 10px;
}

.head-userinfo-brief>.unlogin {
    color: #fefefe;
    font-size: 16px;
    line-height: 78px;
}

.head-userinfo-brief a {
    color: #fff3d0;
}

.use-login {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    display: none;
}

.use-login p {
    padding: 78px 10px 0;
    height: 160px;
    margin-bottom: 10px;
    column-rule-color: #666;
}

.use-login a {
    display: block;
    width: 240px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #000;
    font-size: 16px;
    color: #fff;
}

/* 掌盟图标--part */

.head-app-normal {
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 17px 31px 0 0;
}

.head-app-normal>a {
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/sprites.png);
    background-position: -303px -84px;
    width: 16px;
    height: 24px;
}

.ewm {
    display: none;
    position: absolute;
    top: 60px;
    left: -60px;
    width: 200px;
    height: 145px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    text-align: center;
    color: #cdbe91;
}

.ewm img:nth-child(1) {
    display: block;
    margin: 0 auto;
}

.ewm i {
    position: absolute;
    bottom: -12px;
    right: -12px;
}

/* 搜索按钮--part */

.head-btn {
    float: right;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 17px 12px 0 0;
}

.head-btn>i {
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/sprites.png);
    background-position: -381px -39px;
    width: 21px;
    height: 21px;
}

/* 顶部导航--end */

/* 头部广告--start */

.comm-topact {
    width: 100%;
    min-width: 1230px;
    height: 720px;
}

.comm-topact .small-img {
    display: none;
}

/* 头部广告--end */

/* 主体内容--start */

.main {
    width: 100%;
    min-width: 1358px;
    margin: 0 auto;
}

/* 主体内容part1--start */

.main-part1 {
    width: 1358px;
    margin: 0 auto;
    padding: 40px 0 80px 0;
}

/* part1--轮播图 */

.promo {
    position: relative;
    float: left;
    width: 820px;
    height: 380px;
    overflow: hidden;
    background-color: #e3e2e2;
    overflow: hidden;
}

.promo ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 600%;
}

.promo li {
    float: left;
}

.promo .title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.promo .title span {
    display: block;
    float: left;
    width: 164px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
}

.promo .title span.current {
    color: #ab8e66;
    background-color: #f7f6f6;
    border-bottom: 2px solid #cea861;
}

/* part1--信息模块 */

.news {
    float: right;
    width: 496px;
    height: 380px;
    overflow: hidden;
}

.news-tab ul {
    width: 596px;
    height: 35px;
}

.news-tab ul li {
    float: left;
    font-size: 18px;
    line-height: 24px;
    margin-right: 74px;
}

.news-tab ul li a {
    color: #676767;
}

.news-tab ul li a.selected {
    font-weight: 700;
    color: #1da6ba;
}

.news-content ul {
    display: none;
    height: 305px;
}

.news-content ul .news-title {
    width: 496px;
    height: 59px;
    line-height: 59px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-content ul .news-title a {
    color: #0da0b4;
}

.news-content ul .news-items {
    width: 496px;
    height: 40px;
    line-height: 39px;
    text-align: left;
    border-top: 1px solid #e0e2e2;
}

.news-items .news-xw {
    display: inline-block;
    width: 36px;
    height: 20px;
    font-size: 12px;
    border: 1px #69c5d2 solid;
    color: #1da6ba;
    line-height: 18px;
    text-align: center;
}

.news-items .news-gg {
    display: inline-block;
    width: 36px;
    height: 20px;
    font-size: 12px;
    color: #bb9a6c;
    border: 1px #c5ab86 solid;
    line-height: 18px;
    text-align: center;
}

.news-items .news-ss {
    display: inline-block;
    width: 36px;
    height: 20px;
    font-size: 12px;
    color: #6388c5;
    border: 1px #97afc5 solid;
    line-height: 18px;
    text-align: center;
}

.news-items .news-sp {
    display: inline-block;
    width: 36px;
    height: 20px;
    font-size: 12px;
    color: #e9852d;
    border: 1px #e9852d solid;
    line-height: 18px;
    text-align: center;
}

.news-items .news-jx {
    display: inline-block;
    width: 36px;
    height: 20px;
    font-size: 12px;
    color: #4ba36a;
    border: 1px #4ba36a solid;
    line-height: 18px;
    text-align: center;
}

.news-items .news-href {
    display: inline-block;
    vertical-align: middle;
    width: 370px;
    height: 39px;
    overflow: hidden;
    margin-left: 20px;
    color: #424242;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news-items i {
    vertical-align: middle;
    width: 50px;
    height: 39px;
    overflow: hidden;
    text-align: right;
    font-size: 14px;
    color: #9d9d9d;
    margin-left: 18px;
}

.news-btn {
    display: block;
    width: 496px;
    height: 40px;
    background-color: #e3e2e2;
    line-height: 40px;
    text-align: center;
}

.news-btn .c1 {
    font-size: 14px;
    color: #676767;
}

.news-btn .c2 {
    font-size: 14px;
    color: #7ea1a6;
}

/* 热门活动 */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: rgb(238, 238, 238);
    height: 3000px;
}

.index-wrap {
    width: 1358px;
    height: auto;
    margin: 0 auto;
    padding: 40px 0 80px 0;
    /* background-color: #ccc; */
}

/* 热门活动 */

.act {
    width: 820px;
    height: 335px;
    float: left;
    margin-top: 50px;
}

.part-top-tab {
    width: 100%;
    height: 35px;
    overflow: visible;
    position: relative;
}

.part-h2-title {
    position: absolute;
    width: auto;
    height: 28px;
    top: 5px;
    left: 14px;
    box-sizing: border-box;
    color: #0b0b0b;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

.part-tab-title {
    position: absolute;
    width: 692px;
    height: 35px;
    left: 128px;
    box-sizing: border-box;
    border-bottom: 1px #e0e2e2 solid;
}

.part-tab-title>li {
    position: relative;
    cursor: pointer;
    float: left;
    /* width: auto; */
    width: 200px;
    min-width: 40px;
    height: 37px;
    /* margin-right: 40px; */
    overflow: visible;
    color: #676767;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 35px;
    text-align: center;
}

.part-tab-title>li p {
    height: 30px;
}

.part-tab-title>li img {
    float: left;
    display: none;
}

.herf-more {
    position: absolute;
    top: 0;
    right: 2px;
    display: block;
    width: auto;
    height: 35px;
    font-size: 12px;
    color: #7ea1a6;
    line-height: 35px;
    z-index: 1;
}

.herf-more:hover {
    color: #1da6ba;
    text-decoration: underline;
}

.more-arrow {
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 5px;
    background: url(../imgs/comm-spr.png) no-repeat -213px -126px;
    background-size: 393px 200px;
    width: 15px;
    height: 9px;
}

@keyframes arrowanim {
    0%, 100%, 54% {
        transform: translateX(0)
    }
    18%, 36% {
        transform: translateX(4px)
    }
    27% {
        transform: translateX(1px)
    }
}

@-webkit-keyframes arrowanim {
    0%, 100%, 54% {
        transform: translateX(0)
    }
    18%, 36% {
        transform: translateX(4px)
    }
    27% {
        transform: translateX(1px)
    }
}

.m-act-list {
    width: 820px;
    height: 278px;
    margin-top: 21px;
    /* background-color: violet; */
}

.m-act-list>ul {
    width: 840px;
    height: 278px;
    position: relative;
}

.m-act-list #actList {
    display: none;
}

.act-item {
    list-style: none;
    float: left;
    margin-right: 16px;
    width: 193px;
    height: 278px;
    overflow: hidden;
    position: relative;
    background-color: #fefefe;
    transition: all .3s;
}

.act-item:hover {
    transform: translateY(-5px);
}

.act-item>img {
    display: block;
    width: 193px;
    height: 207px;
}

.act-item>p {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 6px 10px 4px 10px;
    font-size: 14px;
    color: #424242;
    line-height: 18px;
    text-align: left;
}

.act-item>.overtime {
    position: absolute;
    font-size: 12px;
    color: #1da6ba;
    left: 10px;
    bottom: 6px;
}

.act-item>.innerhover-border {
    background: url(../imgs/dark70-bg-repeat.png) repeat;
    display: none;
    width: 193px;
    height: 207px;
    line-height: 207px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.act-item>.innerhover-border .hover-border-1 {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -94px;
    top: 50%;
    margin-top: -100px;
    background: url(../imgs/comm-spr.png) no-repeat 0 0;
    background-size: 393px 200px;
    width: 188px;
    height: 200px;
}

.act-item>.innerhover-border .innerhover-border-inner {
    display: inline-block;
    vertical-align: middle;
    /* *zoom: 1;
    *display: inline; */
    position: relative;
    line-height: 1.5;
    padding: 0 10px;
}

.innerhover-border .p1 {
    font-size: 16px;
    font-weight: 400;
    color: #cdbe91;
    margin-bottom: 2px;
}

.act-item>.innerhover-border .p2 {
    font-size: 12px;
    color: #9d9c9c;
    max-height: 73px;
    overflow: hidden;
}

/* 游戏功能 */

.m-gamefunc-nav {
    width: 496px;
    height: 335px;
    float: right;
    margin-top: 50px;
    position: relative;
}

.slide-nav-ul {
    transition: all .3;
}

.slide-nav-ul>li {
    float: left;
}

.slide-nav-ul li:hover {
    filter: brightness(1.15);
}

.herf-download {
    width: 366px;
    height: 168px;
    overflow: hidden;
    background-image: url(../imgs/pic-download.png);
    position: relative;
}

.herf-download>video {
    display: block;
    width: 366px;
    height: 168px;
}

.btn-flashmen {
    width: 118px;
    height: 76px;
    margin-left: 12px;
    background: url(../imgs/index-spr.png) no-repeat -193px -316px;
    background-size: 638px 572px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 76px;
    overflow: hidden;
    position: relative;
}

.m-gamefunc-nav .p2 {
    margin: 17px 0 0 12px;
}

.m-gamefunc-nav .p3 {
    margin: 15px 16px 0 0;
}

.m-gamefunc-nav .p4 {
    margin-top: 15px;
}

.herf-type-0 {
    float: left;
    background: url(../imgs/index-spr.png) no-repeat -193px -316px;
    background-size: 638px 572px;
    width: 118px;
    height: 76px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 76px;
}

.herf-type-1 {
    position: relative;
    float: left;
    width: 112px;
    height: 68px;
    color: #424242;
    text-align: center;
    line-height: 68px;
    background-color: #fefefe;
    transition: all .2s;
}

.icon-101, .icon-fhcx, .icon-kh, .icon-wxbd, .icon-xgzd, .icon-yxzl, .icon-yz, .icon-tft {
    display: inline-block;
    vertical-align: middle;
    margin: -2px 4px 0 4px;
}

.icon-101:hover {
    transform: scale(1.5);
}

.icon-fhcx:hover {
    transform: scale(1.5);
}

.icon-kh:hover {
    transform: scale(1.5);
}

.icon-wxbd:hover {
    transform: scale(1.5);
}

.icon-xgzd:hover {
    transform: scale(1.5);
}

.icon-yxzl:hover {
    transform: scale(1.5);
}

.icon-yz:hover {
    transform: scale(1.5);
}

.icon-tft:hover {
    transform: scale(1.5);
}

.p4 .herf-type-1:hover {
    color: #1da6ba;
    box-shadow: 1px 1px 15px #666;
}

.p3 .herf-type-1:hover {
    color: #1da6ba;
    box-shadow: 1px 1px 15px #666;
}

.icon-kh {
    width: 22px;
    height: 20px;
    margin-top: -4px;
    background: url(../imgs/comm-spr.png) no-repeat -316px -12px;
    background-size: 393px 200px;
}

.icon-fhcx {
    width: 22px;
    height: 20px;
    margin-top: -4px;
    background: url(../imgs/comm-spr.png) no-repeat -219px -72px;
    background-size: 393px 200px;
}

.icon-yxzl {
    width: 22px;
    height: 20px;
    margin-top: -4px;
    background: url(../imgs/comm-spr.png) no-repeat -343px -12px;
    background-size: 393px 200px;
}

.icon-xgzd {
    width: 22px;
    height: 20px;
    margin-top: -4px;
    background: url(../imgs/comm-spr.png) no-repeat -193px -72px;
    background-size: 393px 200px;
}

.icon-tft {
    width: 22px;
    height: 20px;
    margin-top: -4px;
    background: url(../imgs/comm-spr.png) no-repeat -280px -125px;
    background-size: 393px 200px;
}

.icon-101 {
    width: 22px;
    height: 20px;
    margin-top: -4px;
    background: url(../imgs/comm-spr.png) no-repeat -371px -12px;
    background-size: 393px 200px;
}

.icon-yz {
    width: 22px;
    height: 20px;
    margin-top: -4px;
    background: url(../imgs/comm-spr.png) no-repeat -274px -46px;
    background-size: 393px 200px;
}

.icon-wxbd {
    width: 22px;
    height: 20px;
    margin-top: -4px;
    background: url(../imgs/comm-spr.png) no-repeat -193px -46px;
    background-size: 393px 200px;
}

/* 新英雄 */

.new-yx {
    float: left;
    width: 820px;
    height: 254px;
    margin-top: 51px;
}

.new-yx-one {
    float: left;
    position: relative;
    width: 402px;
    height: 254px;
    background-color: #f7f6f6;
    margin-right: 15px;
}

.pic-mask-0 {
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../imgs/pic-mask-0.png) repeat;
    width: 100%;
    height: 133px;
}

.tip {
    position: absolute;
    display: block;
    left: 9px;
    top: 9px;
    width: auto;
    height: 20px;
    padding: 0 6px;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
    color: #cdbe91;
    line-height: 19px;
    background-color: #000;
}

.intro {
    width: 100%;
    padding: 0 17px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 33px;
    font-size: 16px;
    font-weight: 700;
    color: #cdbe91;
}

.intro1 {
    width: 100%;
    padding-left: 17px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 12px;
    font-size: 14px;
    color: #cfcfcf;
}

/* .new-yx-one img {
    width: 100%;
} */

/* 英雄详情hover */

.inner-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 402px;
    height: 254px;
    overflow: hidden;
    background: url(../imgs/dark70-bg-repeat.png) repeat;
    display: none;
    z-index: 11;
}

.inner-hover .border {
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    background: url(../imgs/index-spr.png) no-repeat 0 0;
    background-size: 638px 572px;
    width: 396px;
    height: 248px;
}

.inner-hover .p1 {
    color: #cdbe91;
    font-size: 18px;
    position: absolute;
    left: 27px;
    top: 20px;
}

.inner-hover .inner-hover-href {
    position: absolute;
    left: 25px;
    bottom: 18px;
    display: block;
    background: url(../imgs/index-spr.png) no-repeat -401px -179px;
    background-size: 638px 572px;
    width: 154px;
    height: 42px;
    color: #ffdb8b;
    font-size: 14px;
    text-align: center;
    line-height: 42px;
    transition: filter .5s;
}

.inner-hover .more-arrow-2 {
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 5px;
    animation: 1.5s linear infinite;
    width: 15px;
    height: 9px;
    background: url(../imgs/comm-spr.png) no-repeat -362px -99px;
    background-size: 393px 200px;
}

/* 新皮肤 */

.new-yx-two {
    float: left;
    position: relative;
    width: 402px;
    height: 254px;
    background-color: #f7f6f6;
}

.new-yx-two .tip {
    position: absolute;
    display: block;
    left: 9px;
    top: 9px;
    width: auto;
    height: 20px;
    padding: 0 6px;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
    color: #cdbe91;
    line-height: 19px;
    background-color: #000;
}

.new-yx-two .intro {
    width: 100%;
    padding: 0 17px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 33px;
    font-size: 16px;
    font-weight: 700;
    color: #cdbe91;
}

.new-yx-two .intro1 {
    width: 100%;
    padding-left: 17px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 12px;
    font-size: 14px;
    color: #cfcfcf;
}

.new-yx-two .innerhover-out {
    display: none;
    width: 435px;
    margin-left: -217px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: -20px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 20px #aaa;
}

.new-yx-two>.innerhover-out>img {
    display: block;
    width: 435px;
    height: 244px;
}

.new-yx-two .hover-video {
    width: 435px;
    height: 244px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

/* 版本导航 */

.nav {
    width: 496px;
    height: 255px;
    float: right;
    position: relative;
    padding-top: 51px;
}

/* 版本更新详情 */

.new-version {
    background-color: #f7f6f6;
    position: relative;
    float: left;
    width: 240px;
    height: 120px;
    overflow: visible;
    margin-bottom: 15px;
}

.new-version .innerhover-out {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: -20px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 20px #aaa;
    display: none;
    width: 270px;
    margin-left: -135px;
}

.new-version .innerhover-out>img {
    display: block;
    width: 270px;
    height: 186px;
}

.new-version .hover-video {
    width: 270px;
    height: 186px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.innerhover-out>.p1 {
    margin-top: 10px;
    width: 270px;
    height: 24px;
    overflow: hidden;
    line-height: 24px;
    box-sizing: border-box;
    padding-left: 11px;
    color: #0b0b0b;
    font-size: 16px;
    text-align: left;
}

.innerhover-out>.p2 {
    width: 270px;
    height: 20px;
    overflow: hidden;
    line-height: 20px;
    box-sizing: border-box;
    padding-left: 11px;
    color: #a1a1a2;
    font-size: 12px;
    text-align: left;
    margin-bottom: 10px;
}

.innerhover-out>.a1 {
    position: absolute;
    right: 10px;
    bottom: 17px;
    display: block;
    width: 86px;
    height: 29px;
    line-height: 27px;
    overflow: hidden;
    color: #bb9a6c;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    border: 1px #bb9a6c solid;
    transition: .2s;
}

/* 开发者基地 */

.club-developer {
    float: right;
    width: 242px;
    height: 180px;
    position: relative;
    background-color: #f7f6f6;
}

.club-developer>.innerhover-border {
    display: none;
    width: 242px;
    height: 180px;
    line-height: 180px;
    background: url(../imgs/dark70-bg-repeat.png) repeat;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.innerhover-border .hover-border-2 {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -118.5px;
    top: 50%;
    margin-top: -87px;
    background: url(../imgs/index-spr.png) no-repeat -401px 0;
    background-size: 638px 572px;
    ;
    width: 237px;
    height: 174px;
}

.innerhover-border .innerhover-border-inner {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    line-height: 1.5;
    box-sizing: border-box;
    padding: 0 10px;
}

.innerhover-border .p1 {
    font-size: 16px;
    font-weight: 400;
    color: #cdbe91;
    margin-bottom: 2px;
}

.innerhover-border .p2 {
    overflow: hidden;
    font-size: 12px;
    color: #9d9c9c;
}

/* 新周边 */

.new-model {
    background-color: #f7f6f6;
    position: relative;
    float: left;
    width: 240px;
    height: 120px;
    overflow: visible;
    margin-bottom: 15px;
}

/* 周免 */

.week-free {
    float: right;
    width: 239px;
    height: 58px;
    overflow: visible;
    position: relative;
    margin-top: 17px;
}

.week-free-a {
    display: block;
    background: url(../imgs/index-spr.png) no-repeat -193px -253px;
    background-size: 638px 572px;
    width: 239px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

/* 周免hover */

.week-free-hover {
    display: none;
    *zoom: 1;
    width: auto;
    height: auto;
    background-color: #fff;
    position: absolute;
    top: 320px;
    box-shadow: 0 0 12px #bbb;
    padding: 6px 5px 10px 5px;
    z-index: 2;
    right: 0;
}

.week-free-hover>.arrow {
    display: block;
    width: 14px;
    height: 7px;
    position: absolute;
    background: url(../imgs/index-spr.png) no-repeat -556px -226px;
    background-size: 638px 572px;
    top: -7px;
    right: 114px;
    z-index: 10;
}

.week-free-hover>ul {
    width: 420px;
    overflow: hidden;
    margin: 0 auto;
}

.week-free-item {
    width: auto;
    height: auto;
    overflow: hidden;
    float: left;
    list-style: none;
    margin: 7px 5px 0 5px;
    position: relative;
}

.week-free-item>img {
    display: block;
    width: 46px;
    height: 46px;
    border: 2px #bb9a6c solid;
    border-radius: 50%
}

/* 更多新皮肤 */

.more-skin {
    display: none;
    width: 1358px;
    transition: height .3s, margin-top .3s;
    will-change: height;
    float: left;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}

.more-skin>.content {
    width: 1368px;
    height: 100%;
    float: left;
}

.more-skin-item {
    list-style: none;
    width: 185px;
    height: 117px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    position: relative;
}

.more-skin-item img {
    width: 185px;
    height: 117px;
    transition: transform .2s;
    transform: scale(1);
}

.more-skin-item>.skinname {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background: url(../imgs/dark70-bg-repeat.png) repeat;
}

.more-skin-item>.skinname>.a2 {
    color: #cdbe91;
    text-decoration: none;
}

/* 主体内容part1--end */

/* 主体内容part2--start */

.part2-color {
    width: 100%;
    background-color: #e3e2e2;
}

.main-part2 {
    width: 100%;
    width: 1358px;
    background-color: #e3e2e2;
    padding: 64px 0 66px 0;
    margin: 0 auto;
}

/* 最新视频part */

.new-video {
    float: left;
    width: 820px;
    height: 463px;
    background-color: aqua;
}

.video-title {
    width: 100%;
    height: 35px;
    position: relative;
}

.video-title h2 {
    position: absolute;
    width: auto;
    height: 28px;
    top: 5px;
    left: -6px;
    color: #0b0b0b;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

.video-title h2:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 28px;
    background-color: #1da6ba;
    margin-right: 10px;
}

.video-nav {
    width: 694px;
    border-bottom-color: #d6d7d8;
    position: absolute;
    height: 35px;
    left: 128px;
    box-sizing: border-box;
    border-bottom: 1px #e0e2e2 solid;
}

.video-nav>li {
    float: left;
}

.video-nav>li a {
    display: inline-block;
    width: auto;
    min-width: 40px;
    height: 37px;
    overflow: visible;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    color: #676767;
    margin-right: 40px;
}

/* 视频内容 */

.video-content {
    width: 840px;
    height: auto;
    min-height: 130px;
    position: relative;
    margin-top: 32px;
    overflow: hidden;
}

.video-content li {
    list-style: none;
    float: left;
    width: 193px;
    height: 185px;
    overflow: hidden;
    margin: 0 16px 16px 0;
    position: relative;
    background-color: blue;
}

/* 热门专辑part */

.hot-zj {
    float: right;
    position: relative;
    width: 496px;
    height: 463px;
}

.hot-title {
    height: 35px;
}

.hot-title h2 {
    position: absolute;
    width: auto;
    height: 28px;
    top: 5px;
    left: -6px;
    color: #0b0b0b;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

.hot-title h2:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 28px;
    background-color: #1da6ba;
    margin-right: 10px;
}

.hot-title ul {
    position: absolute;
    height: 35px;
    left: 128px;
    box-sizing: border-box;
    border-bottom: 1px #e0e2e2 solid;
    width: 367px;
}

.hot-title ul li {
    float: left;
    position: relative;
    cursor: pointer;
    float: left;
    width: auto;
    min-width: 40px;
    height: 37px;
    color: #676767;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    margin-right: 14px;
}

.hot-title ul li:last-child {
    margin-right: 0;
}

.hot-content-wrap {
    position: relative;
    width: 496px;
    height: 337px;
    margin-top: 32px;
}

.hot-content {
    overflow: hidden;
}

.swiper-content {
    margin: 0 auto;
    position: relative;
    z-index: 1;
    width: 1400%;
}

.swiper-content ul li {
    float: left;
    width: 171px;
    height: 337px;
    position: relative;
}

.swiper-content ul li img {
    position: relative;
    width: 156px;
    height: 211px;
}

.swiper-content ul li h4 {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 140px;
}

.swiper-content ul li p {
    font-size: 12px;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 36px;
    line-height: 18px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 169px;
    padding: 0 7px;
}

.swiper-content ul li .hot-fx {
    font-size: 14px;
    text-align: left;
    color: #919091;
    width: 100%;
    height: 42px;
    line-height: 21px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 224px;
    padding: 0 7px;
}

.swiper-content ul li .hot-tx {
    display: block;
    width: 100%;
    height: p- 30px;
    line-height: 30px;
    box-sizing: border-box;
    padding-left: 4px;
    color: #919091;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 280px;
}

.swiper-content ul li .hot-tx img {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: -2px 2px 0 0;
}

.arrow-l, .arrow-r {
    display: inline-block;
    width: 23px;
    height: 51px;
    position: absolute;
    top: 89px;
    background: url(../upload/index-spr.png) no-repeat;
    background-size: 638px 572px;
}

.arrow-l {
    left: -29px;
    background-position: -221px -397px;
}

.arrow-l {
    right: -29px;
    background-position: -193px -397px;
}

.see-more {
    display: block;
    background-position: 0 -522px;
    width: 506px;
    height: 50px;
    font-size: 16px;
    color: #ab8e66;
    text-align: center;
    line-height: 50px;
    margin-left: -5px;
    background-image: url(../upload/index-spr.png);
    background-repeat: no-repeat;
    background-size: 638px 572px;
}

/* 主体内容part2--end */

/* 主体内容part3-start */

/* 英雄资料 start */

.part-top-tab {
    width: 100%;
    height: 35px;
    overflow: visible;
    position: relative
}

.g-wrap {
    width: 1358px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 80px;
}

.g-wrap:after {
    content: '\20';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both
}

.g-wrap-championlist .part-title>li.selected:after, .g-wrap-championlist .part-title>li:after, .g-wrap-championlist .part-title>li:hover:after {
    background-image: url(../images/index-spr.png);
    background-size: 638px 572px;
    background-repeat: no-repeat
}

.g-wrap-championlist {
    height: auto;
    margin-top: 0;
    padding: 66px 0 66px 0;
    position: relative;
    width: 100%;
    min-width: 1358px;
    overflow: hidden;
    background-color: #e3e2e2
}

.g-wrap-championlist>.g-wrap {
    padding-bottom: 0
}

.g-wrap-championlist .part-title {
    border: none
}

.g-wrap-championlist .part-title>li {
    padding-left: 28px;
    line-height: 42px;
    margin-right: 40px
}

.g-wrap-championlist .part-title>li:after {
    display: block;
    top: 11px;
    left: 2px;
    margin-left: 0;
    background-position: -406px -316px;
    width: 20px;
    height: 19px
}

.g-wrap-championlist .part-title>li.selected:after, .g-wrap-championlist .part-title>li:hover:after {
    background-position: -431px -316px;
    width: 20px;
    height: 19px;
    left: 2px
}

.part-h2-title {
    position: absolute;
    width: auto;
    height: 28px;
    top: 5px;
    left: -6px;
    box-sizing: border-box;
    color: #0b0b0b;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400
}

.part-h2-title:before {
    content: '\0020';
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 28px;
    background-color: #1da6ba;
    margin-right: 10px
}

.part-title {
    position: absolute;
    height: 35px;
    left: 128px;
    box-sizing: border-box;
    border-bottom: 1px #e0e2e2 solid
}

.part-title>li {
    list-style: none;
    position: relative;
    cursor: pointer;
    float: left;
    width: auto;
    min-width: 40px;
    height: 37px;
    overflow: visible;
    color: #676767;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 35px;
    text-align: center
}

.part-title>li>.icon-new-1 {
    position: absolute;
    right: -30px;
    top: 10px
}

.part-title>li:after {
    content: '\0020';
    position: absolute;
    background-image: url(../images/comm-spr.png);
    background-position: center center;
    box-sizing: border-box;
    display: none;
    width: 100%;
    height: 7px;
    left: 0;
    bottom: 0;
    transition: width .2s, left .2s, margin-left .2s
}

.part-title>li.selected, .part-title>li:hover {
    font-weight: 700;
    color: #1da6ba
}

.herf-more {
    position: absolute;
    top: 0;
    right: 2px;
    display: block;
    width: auto;
    height: 35px;
    font-size: 12px;
    color: #7ea1a6;
    line-height: 35px;
    z-index: 1
}

.herf-more:hover {
    color: #1da6ba;
    font-weight: 700;
    text-decoration: underline
}

.herf-more:hover>i {
    animation-name: arrowanim;
    -webkit-animation-name: arrowanim
}

.part-button {
    transition-duration: 0s;
    transform: translate3d(0px，0px，0px);
    width: 1395px;
    height: 1344px;
}

.part-button .all {
    width: 100%;
    height: 100%;
}

.herf-mask {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0
}

.herf-mask:after {
    content: "\0020";
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1000px
}

.m-champion-list-container {
    width: 1395px;
    height: 438px;
    overflow: hidden;
    margin-top: 21px !important;
    position: relative
}

.m-champion-list-container .hover-icon {
    display: none;
    position: absolute;
    width: 66px;
    height: 66px;
    top: 0;
    left: 12px;
    background: url(../images/dark70-bg-repeat.png) repeat
}

.champion-item:hover {
    background-image: url(../images/index-spr.png);
    background-size: 638px 572px;
    background-repeat: no-repeat
}

.m-champion-list-container .champion-item {
    list-style: none;
    float: left;
    width: 90px;
    height: 100px;
    overflow: visible;
    margin: 0 16px 12px 0;
    position: relative;
    cursor: pointer
}

.m-champion-list-container .champion-item:hover>p {
    color: #1da6ba
}

.m-champion-list-container .champion-item:hover .hover-icon {
    display: block;
    animation: opacityin .2s;
}

.m-champion-list-container .champion-item:hover .hover-icon:after {
    content: '\0020';
    display: block;
    margin: 24px auto 0 auto;
    background-image: url(../images/index-spr.png);
    background-position: -401px -226px;
    width: 22px;
    height: 21px
}

.m-champion-list-container .champion-item>img {
    display: block;
    margin: 0 auto;
    width: 66px;
    height: 66px
}

.m-champion-list-container .champion-item>p {
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #333
}

.m-champion-list-container .scrollbar {
    right: 23px;
    width: 5px;
    height: 438px
}

.m-champion-list-container:hover .scrollbar {
    width: 10px
}

/* 英雄资料 end */

/* 左边图标 end */

.more-arrow {
    background-image: url(../images/comm-spr.png);
    background-size: 393px 200px;
    background-repeat: no-repeat;
    background-position: -213px -126px;
    width: 15px;
    height: 9px;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 5px;
    animation: 1.5s linear infinite;
}

.inline-icon-1 {
    background-image: url(../images/index-spr.png);
    background-position: -484px -226px;
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
    margin: -3px 10px 0 10px;
}

/* 合作媒体图标  start */

.inline-icon-0-left, .inline-icon-0-right {
    display: inline-block;
    vertical-align: middle;
    margin: -1px 12px 0 12px;
    opacity: .7
}

.inline-icon-0-left {
    background-image: url(../images/index-spr.png);
    background-size: 638px 572px;
    background-repeat: no-repeat;
    background-position: -531px -226px;
    width: 20px;
    height: 9px
}

.more-arrow-1 {
    background-image: url(../images/comm-spr.png);
    background-size: 393px 200px;
    background-repeat: no-repeat;
    background-position: -342px -99px;
    width: 15px;
    height: 9px;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 5px;
    animation: 1.5s linear infinite;
    -webkit-animation: 1.5s linear infinite
}

.inline-icon-0-right {
    background-image: url(../images/index-spr.png);
    background-size: 638px 572px;
    background-repeat: no-repeat;
    background-position: -506px -226px;
    width: 20px;
    height: 9px
}

/* 合作媒体图标  end */

.part-title>li.selected:after, .part-title>li:hover:after {
    display: block;
    animation: scalein-2 .2s;
}

/*! 英雄资料 end */

/*! fanart创作馆 start */

.innerhover-bottom {
    position: absolute;
    left: 0;
    bottom: -45px;
    padding: 0 8px 6px 10px;
    transition: all .3s;
    background-color: rgba(0, 0, 0, 0.3);
}

.innerhover-bottom .p1 {
    width: 100%;
    line-height: 24px;
    font-size: 12px;
    text-align: left;
    padding: 8px 0 8px 2px;
}

.innerhover-bottom .p1>a {
    color: #fff
}

.innerhover-bottom .p1>a:hover {
    text-decoration: underline
}

/* 左边图标 end */

.more-arrow {
    background-position: -213px -126px;
    width: 15px;
    height: 9px;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 5px;
    animation: 1.5s linear infinite;
}

.inline-icon-1 {
    background-position: -484px -226px;
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
    margin: -3px 10px 0 10px;
}

/* 合作媒体图标  start */

.inline-icon-0-left, .inline-icon-0-right {
    display: inline-block;
    vertical-align: middle;
    margin: -1px 12px 0 12px;
    opacity: .7
}

.inline-icon-0-left {
    background-position: -531px -226px;
    width: 20px;
    height: 9px
}

.more-arrow-1 {
    background-position: -342px -99px;
    width: 15px;
    height: 9px;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 5px;
    animation: 1.5s linear infinite;
}

.inline-icon-0-right {
    background-position: -506px -226px;
    width: 20px;
    height: 9px
}

/* 合作媒体图标  end */

.part-tab-title>li.selected:after, .part-tab-title>li:hover:after {
    display: block;
    animation: scalein-2 .2s;
    animation: scalein-2 .2s
}

.g-wrap-fanart {
    width: 1358px;
    height: auto;
    margin: 0 auto;
    padding: 66px 0 82px 0;
}

.g-wrap-fanart:after {
    content: '\20';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both
}

/* 左边 start */

.fanart-left {
    width: 820px;
    float: left
}

.fanart-left-content {
    width: 840px;
    height: 368px;
    position: relative;
    overflow: hidden;
    margin-top: 21px
}

.fanart-left-content .innerhover-bottom {
    width: 100%
}

.fanart-left-content li {
    list-style: none;
    float: left;
    width: 192px;
    height: 176px;
    position: relative;
    overflow: hidden;
    background-color: #e3e2e2;
    margin: 0 17px 17px 0
}

.fanart-left-content li:hover .innerhover-bottom {
    transform: translateY(-40px);
}

.fanart-left-content>li:hover img {
    transform: scale(1.3);
}

.fanart-left-content>li>a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative
}

.fanart-left-content>li img {
    display: block;
    transition: transform .3s;
    transform: scale(1);
    width: 192px;
    height: 192px;
    position: absolute;
    left: 0;
    top: -8px
}

.fanart-left-content>.p1 {
    margin: 0 6px 9px 0
}

/* 左边  end */

/* 右边 start */

.fanart-right {
    width: 496px;
    float: right
}

.fanart-right-right {
    float: right;
    margin-top: 55px
}

.fanart-right-right>.herf-right-1 {
    list-style: none;
    margin-bottom: 16px;
    position: relative;
    display: block;
    width: 240px;
    height: 87px;
    overflow: hidden;
    transition: filter .5s;
    filter: brightness(1);
}

.fanart-right-right>.herf-right-1:hover {
    filter: brightness(1.15);
}

.fanart-right-right>.herf-right-1>img {
    position: absolute;
    left: 0;
    top: 0
}

.fanart-right-right>.herf-right-1>a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 16px;
    line-height: 87px
}

/* 精品专栏  start */

.main-column {
    width: 241px;
    height: 411px;
    overflow: hidden;
    float: left;
    margin-top: 13px;
    position: relative;
    transition: transform .3s, filter .3s;
    transform: translateY(0);
    filter: brightness(1);
}

.main-column>.p1 {
    position: absolute;
    left: 0;
    bottom: 103px;
    text-align: center;
    width: 100%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    color: #fff;
    font-size: 16px
}

.main-column>.p2 {
    position: absolute;
    left: 0;
    bottom: 58px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    font-size: 22px;
    color: #fff;
    text-align: center;
    font-weight: 400
}

.main-column:hover {
    filter: brightness(1.08);
    transform: translateY(-10px);
}

/* 精品专栏  end */

/* 合作媒体  start */

.href-partner {
    display: block;
    background-image: url(../images/index-spr.png);
    background-position: -193px -253px;
    width: 239px;
    height: 58px;
    line-height: 58px;
    overflow: visible;
    position: relative;
    z-index: 2;
    float: right;
    margin-top: 2px
}

.href-partner:hover .partner-list-container {
    display: block;
    animation: topin .3s;
}

.href-partner:hover .more-arrow-1 {
    animation-name: arrowanim;
}

.href-partner>a {
    color: #fff;
    font-size: 16px;
    display: block;
    text-align: center
}

.partner-list-container {
    display: none;
    z-index: 1;
    width: 239px;
    height: 266px;
    padding: 6px 0;
    background-color: #fff;
    position: absolute !important;
    left: 0;
    top: 58px;
    overflow: hidden;
    box-shadow: 0 3px 10px #ccc;
    text-align: left
}

/* 滚动条 scrollbar  start */

/* 滚动条 scrollbar  end */

.partner-list-container .partner-list-wrapper {
    width: 100%;
    height: auto
}

.partner-list-container ul {
    width: 100%
}

.partner-list-container li {
    list-style: none;
    width: 100%;
    height: 19px;
    box-sizing: border-box;
    padding-left: 12px;
    line-height: 25px;
    margin: 8px 0
}

.partner-list-container li:hover {
    background-color: #eee
}

.partner-list-container a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 19px;
    color: #676767
}

@keyframes arrowanim {
    0%, 100%, 54% {
        transform: translateX(0)
    }
    18%, 36% {
        transform: translateX(4px)
    }
    27% {
        transform: translateX(1px)
    }
}

/*! fanart创作馆 end */

/* 主体内容part3--end */

/* 主体内容--end */

/* 底部--start */

.footer {
    width: 100%;
    min-width: 1230px;
    padding: 45px 0;
    background-color: #e3e2e2;
    color: #9f9378;
    font-size: 12px;
    line-height: 24px;
    overflow: hidden;
}

.footer-content {
    max-width: 1358px;
    min-width: 1230px;
    height: auto;
    margin: 0 auto;
    background-color: rosybrown;
}

.content-left {
    float: left;
    height: 100px;
    margin-top: 50px;
    width: auto;
}

.content-left .footer-logo {
    float: left;
    width: 189px;
    height: 35px;
    background: url(../images/sprites.png) no-repeat;
    background-position: -216px 0;
    background-size: 405px 178px;
}

.left-logo {
    float: left;
    width: 82px;
    height: 28px;
    background: url(../images/sprites.png) no-repeat;
    background-position: -216px -84px;
    background-size: 405px 178px;
    margin-left: 30px;
}

.content-right {
    float: right;
}

/* 底部--end */